@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@font-face {
    font-family: GRIFTER;
    src: url("./fonts/grifterbold.otf") format("opentype");
}
#logo {
    position: absolute;
width: 145px;
height: 31px;
left: 190px;
top: 67px;

font-family: 'GRIFTER';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 31px;

color: #FFFFFF;
    text-decoration: none;

   
}



div.menuBarBtn img{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1614px;
    top: 60px;
    cursor: pointer;
    
}

div.menuBarBtn p {
    position: absolute;
width: 45px;
height: 24px;
left: 1552px;
top: 70px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0px;
/* identical to box height */

color: #FFFFFF;
}

.dropdown-menu{
    position: absolute;
    top: 124px;
    left: 1508px;
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    border-radius: 15px;


   
    /* identical to box height */
    

}


.dropdown-menu ul{
    list-style: none;
    width: 155px;
    height: 24px;
    left: 172px;
    top: 548px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    transform: rotate(45deg);
  }

  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  

.dropdown-menu li{
    left: -42px;
    position: relative;
    top: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin: 13px;
    text-align: center;
    background-color: #000000;
    color: #ffff;
    width: 125px;
    height: 27px;
    cursor: pointer;
}
