@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
   
    background: #FFFFFF;
    width: 493px;
    height: 508px;

    align-items: center;
    justify-content: center;

}
@font-face {
    font-family: GRIFTER;
    src: url("./fonts/grifterbold.otf") format("opentype");
}


.auth-form-container{
    background-color: #FFFFFF;
    width: 432px;
    height: 480px;
    border-radius: 15px;
    position: ABSOLUTE;
    top: 50%;
    left: 140%;
}

.auth-form-container h2{
    position: absolute;
    width: 124px;
    height: 46px;
    left: 150px;
    top: 10px;
    
    font-family: 'GRIFTER';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #000000;
}

.login-form{
    position: absolute;
    top: 150px;
    left: 32px;
}

.login-form input {
    width: 365px;
    height: 60px;
    left: 978px;
    top: 378px;
    
    background: #F0F0F0;
    border-radius: 10px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9D9D9D;
    text-indent: 34px;
    margin-bottom: 25px;

}

.login-form button{
    position: absolute;
    width: 365px;
    height: 60px;
    left: -2px;
    top: 198px;
    
    background: #121212;
    border-radius: 25px;


    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

.login-form a{
    position: absolute;
    width: 144px;
    height: 18px;
    left: 224px;
    top: 162px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #1A74E8;
}