@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
   
    background: #121212;


    align-items: center;
    justify-content: center;

}
@font-face {
    font-family: GRIFTER;
    src: url("./fonts/grifterbold.otf") format("opentype");
}

div.RegisterPage {
    height: 776px;
    width: 500px;
    position: absolute;
    top: 130px;
    left: 670px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

div.RegisterPage h2{
    position: relative;
    width: 124px;
    height: 46px;
    left: 167px;
    top: 10px;
    
    font-family: 'GRIFTER';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #000000;
}

.RegForm{
    position: absolute;
    top: 136px;
    left: 28px;
}

.RegForm input{
    position: relative;
    width: 365px;
    height: 60px;
    left: 38px;
    top: 0px;
    
    background: #F0F0F0;
    border-radius: 10px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9D9D9D;
    text-indent: 34px;
    margin-bottom: 25px;
}

.RegForm button{
    position: relative;
    width: 365px;
    height: 60px;
    left: 38px;
    top: 10px;
    
    background: #121212;
    border-radius: 25px;


    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
